{% load static %}
<!DOCTYPE html>

<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Transparent Reg Form HTML CSS</title>
      <link rel="stylesheet" href="{% static 'css/type1reg.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <div class="bg-img">
         <div class="content">

            {% if messages %}
            <ul>
               {% for message in messages %}
               <li style="color: red;">{{ message }}</li>
               {% endfor %}
            </ul>
            {% endif %}

            <header>Reg Form</header>
            <form action="{% url 'type1' %}" method="post">
                {% csrf_token %}
                <div class="field">
                  <span class="fa fa-user"></span>
                  <input type="text" name="email_or_phone" required placeholder="Email or Phone" value="{{ form.email_or_phone.value|default:'' }}">
                 
                  {% if form.email_or_phone.errors %}
                    <div style="color: red;">{{ form.email_or_phone.errors }}</div>
                  {% endif %}


                </div>
                <div class="field space">
                  <span class="fa fa-lock"></span>
                  <input type="password" name="password1" class="pass-key" required placeholder="Password1">
                  
                  
                  {% if form.password1.errors %}
                    <div style="color: red;">{{ form.password1.errors }}</div>
                  {% endif %}

                  
                  <span class="show">SHOW</span>
               </div>
               <div class="field space">
                <span class="fa fa-lock"></span>
                <input type="password" name="password2" class="pass-key" required placeholder="Password2">
                {% if form.password2.errors %}
                    <div style="color: red;">{{ form.password2.errors }}</div>
                {% endif %}
                <span class="show">SHOW</span>
             </div>
               <div class="pass">
                  <a href="#">Forgot Password?</a>
               </div>
               <div class="field">
                  <input type="submit" value="LOGIN">
               </div>
            </form>
            <div class="login">
               Or login with
            </div>
            <div class="links">
               <div class="facebook">
                  <i class="fab fa-facebook-f"><span>Facebook</span></i>
               </div>
               <div class="instagram">
                  <i class="fab fa-instagram"><span>Instagram</span></i>
               </div>
            </div>
            <div class="signup">
               Already have an account?
               <a href="#">Signin Now</a>
            </div>
         </div>
      </div>
      <script>
         const pass_fields = document.querySelectorAll('.pass-key');
         const showBtns = document.querySelectorAll('.show');
         showBtns.forEach((showBtn, index) => {
            showBtn.addEventListener('click', function(){
               if(pass_fields[index].type === "password"){
                  pass_fields[index].type = "text";
                  showBtn.textContent = "HIDE";
                  showBtn.style.color = "#3498db";
               }else{
                  pass_fields[index].type = "password";
                  showBtn.textContent = "SHOW";
                  showBtn.style.color = "#222";
               }
            });
         });
      </script>
   </body>
</html>